<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>




<center>
  <form action="Delete_ctrl" method="get" class="tm-search-form tm-section-pad-2">
  </br></br>
  
    <div class="form-row tm-search-form-row">
                                        <div class="form-group tm-form-element tm-form-element-100">
                                            <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
                                           Enter phone number :<input name="id" type="text" class="form-control" required="true" placeholder="Type your  number...">
                                        </div>
                                        </br>
                                   


  </br></br>
                                        <div class="form-group tm-form-element tm-form-element-2">
                                            <button type="submit" class="btn btn-primary tm-btn-search">Delete by ID </button>
                                        </div>

</div>
</form>
</center>


</body>
</html>