<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


<center>
  <form action="index_ctrl" method="get" class="tm-search-form tm-section-pad-2">
  </br></br>
  
    <div class="form-row tm-search-form-row">
                                        <div class="form-group tm-form-element tm-form-element-100">
                                            <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
                                           Enter phone number :<input name="id" type="text" required="true" class="form-control" placeholder="Type your  number...">
                                        </div>
                                        </br>
                                    <div class="form-row tm-search-form-row">
                                        <div class="form-group tm-form-element tm-form-element-100">
                                            <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
                                           Enter name of the city :<input name="city" type="text" required="true" class="form-control" id="inputCity" placeholder="Type your destination...">
                                        </div>
                                        </br></br>
                                         <div class="form-row tm-search-form-row">
                                        <div class="form-group tm-form-element tm-form-element-100">
                                            <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
                                           Enter reserved person name :<input name="name" required="true" type="text" class="form-control"  placeholder="Type your NAme...">
                                        </div>
                                        </br>
                                         <div class="form-row tm-search-form-row">
                                        <div class="form-group tm-form-element tm-form-element-100">
                                            <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
                                           Enter your email :<input name="email" type="text" required="true" class="form-control"  placeholder="Type your EMAIL...">
                                        </div>
                                        </br>
                                        <div class="form-group tm-form-element tm-form-element-50">
                                            <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                                            Enter check-in Date :<input name="checkin" type="Date"  required="true" class="form-control" id="inputCheckIn" placeholder="Check In">
                                        </div>
                                        </br>
                                        <div class="form-group tm-form-element tm-form-element-50">
                                            <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                                           Enter check-out Date : <input name="checkout" type="Date"  required="true" class="form-control" id="inputCheckOut" placeholder="Check Out">
                                        </div>
                                    </div>
                                    </br>
                                    <div class="form-row tm-search-form-row">
                                        <div class="form-group tm-form-element tm-form-element-2">                                            
                                        No,of Adults:    <select name="adult" required="true" class="form-control tm-select" >
                                                <option value="">Adult</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                            <i class="fa fa-2x fa-user tm-form-element-icon"></i>
                                        </div>
                                        </br>
                                        <div class="form-group tm-form-element tm-form-element-2">                                            
                                         No,of Children:   <select name="children"  required="true" class="form-control tm-select">
                                                <option value="">Children</option>
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                            <i class="fa fa-user tm-form-element-icon tm-form-element-icon-small"></i>
                                        </div>
                                        </br>
                                        <div class="form-group tm-form-element tm-form-element-2">
                                           No,of Rooms: <select name="room" required="true" class="form-control tm-select" id="room">
                                                <option value="">Room</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                            <i class="fa fa-2x fa-bed tm-form-element-icon"></i>
                                        </div>
                                        </br></br>
                                        <div class="form-group tm-form-element tm-form-element-2">
                                            <button type="submit" class="btn btn-primary tm-btn-search">Reserve/Booking</button>
                                        </div>
                                      </div>
                                </form>

</center>










</body>
</html>